.container {
  height: 200px;
  z-index: 1;
  margin: 0 auto;
}

.cat1 {
  background: url("https://images.unsplash.com/photo-1522199780729-a356c844222a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=6a44a6f40ad77a3fe238cda8e961bf90") no-repeat;
  background-size: 500px auto;
  width: auto;
  height: 500px;
  margin: 0 auto;
}

.cat2 {
  background: url("https://images.unsplash.com/photo-1479623186097-2bb07e242ae0?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=73252acd5b06eba14ec4021c394a6eb2") no-repeat;
  background-size: 500px auto;
  width: auto;
  height: 500px;
  margin: 0 auto;
}

.cat3 {
  background: url("https://images.unsplash.com/photo-1457410129867-5999af49daf7?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=9b3e10294b8c722e4698cddd9a190abe") no-repeat;
  background-size: 500px auto;
  width: auto;
  height: 500px;
  margin: 0 auto;

}
